*.suo
*.aps
.MySCMServerInfo
vs10/Debug/*
vs10/Release/*
vs10/ipch/*
vs10/all.sdf
vs10/cairo/cairo-1.12.8/*
vs10/cairo/pixman-0.28.0/*
vs10/cairo/Debug/*
vs10/cairo/Release/*
vs10/gobject-introspection/gobject-introspection-1.34.2/*
vs10/gobject-introspection/Debug/*
vs10/gobject-introspection/Release/*
vs10/libffi/libffi-3.0.11/*
vs10/libffi/Debug/*
vs10/libffi/Release/*
vs10/pkg-config/pkg-config-0.27.1/*
vs10/pkg-config/Debug/*
vs10/pkg-config/Release/*
vs10/pygobject/pygobject-3.4.2/*
vs10/pygobject/Debug/*
vs10/pygobject/Release/*
vs10/gjs/gjs-1.33.14/*
vs10/gjs/Debug/*
vs10/gjs/Release/*
vs10/librsvg/librsvg-2.36.4/*
vs10/librsvg/Debug/*
vs10/librsvg/Release/*
vs10/libgda/libgda-5.0.3/*
vs10/libgda/Debug/*
vs10/libgda/Release/*
vs10/gettext/gettext-0.18.1.1/*
vs10/gettext/Debug/*
vs10/gettext/Release/*
